<div class="guideBg">
</div>
<div class="logo">
  <img src="/images/icons/logo.png" alt="" />
</div>
<div class="guidepage">
  <div class="guideimg">
    <img src="/images/icons/1.png" alt="" />
  </div>
  <div class="guidetext">
    <img src="/images/icons/2.png" alt="" />
  </div>
  <a href="/home">
    <img src="/images/icons/3.png" alt="" />
  </a>
</div>
