<div class="EnvironmentalBg">
</div>
<div class="content">
  <div class="title">
    <h2><img src="../../images/icons/icon.png" alt="" />环境管理</h2></div>
  <div class="Eyear">
    <div class="select">
      <p data-value="2018年">2018年</p>
      <ul>
        <li data-value="2018年" class="Selected">2018年</li>
        <li data-value="2017年">2017年</li>
      </ul>
    </div>
    <div class="select">
      <p data-value="2018年">第二季度</p>
      <ul>
        <li data-value="第二季度" class="Selected">第二季度</li>
        <li data-value="第一季度">第一季度</li>
      </ul>
    </div>
    <div class="search">
      <input type="text" placeholder="请输入要搜索的文件" id="fileName" />
    </div>
  </div>
  <div class="tabs-vertical">
    <ul class="tabs-ul">
    </ul>
    <div class="tabs-content-placeholder" id="content">
      <div class="tabblock tab-content-active menuTree">
        <p>正在加载……</p>
      </div>
      <div class="tabblock menuTree">
        <p>正在加载……</p>
      </div>
      <div class="tabblock menuTree">
        <p>正在加载……</p>
      </div>
      <div class="tabblock menuTree">
        <p>正在加载……</p>
      </div>div
    </div>
  </div>
</div>
<ul class="sey-list sey-show" style="top: 140px; left: 979.5px;">
</ul>
<input type="hidden" value="{{itemID}}" id="hidden-itemID">
<script src="/javascripts/list.js"></script>
